/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  /* text colors */
  --text-main: #fff;
  --text-in-header: #ee3643;
  --text-heading: #32425c;
  --color-frequently-used: #000;
  --text-cards: #a9a9a9;
  --text-footer: #f3f7f9;
  --menu-footer-upper: #f1f5f7;
  --menu-footer-lower: #ffd180;
  --text-active: rgba(255, 255, 255, 0.5);
  --bookmarks: rgba(50, 66, 92, 0.3);

  /* background color */
  --header-upper: #293449;
  --checkout-buy: #63a63e;
  --promo-block-materials-delivery: #ffbf47;
  --promo-block-tool: #3bbce3;
  --promo-block-technics: #dc91d8;
  --promo-block-discount: #8ed78f;
  --header-goods: #f9f5f0;
  --filter-sorting: #f7f3ec;
  --added-to-cart: #f1f1f1;
  --promo-block: rgba(255, 255, 255, 0.3);
  --promo-block-hover: rgba(197, 197, 197, 0.3);
  --promo-block-active: rgba(169, 169, 169, 0.3);
  --toggle: #ababab;
  --separator: #444;
  --box-button: #f4f4f4;

  /* background color on action */
  --cry-logo-open-catalog: #ba2732;
  --cry-header-upper: #161d29;
  --guidance-checkout-buy: #5fbb2d;
  --cry-buy: #518534;
  --guidance-login: #3d546f;
  --cry-header-menu: #1d2739;
  --guidance-open-catalog: #ca2c37;
  --guidance-blocked-checkbox: #b5b5b5;

  /* shadow colors */
  --peace-buy: #367315;
  --slider-ervices: #405069;


  /* border colors */
  --border-form: #c5c5c5;
  --border-cards: #eaeaea;
  --border-cards-hover:rgba(0, 0, 0, 0.15);
  --border-card-pages: #e5e5e5;
  --border-fieldset: rgba(0, 0, 0, 0.0001);

  /* gradient colors */
  --social-network: #212a3a;
}

.page {
  height: 100%;
}

.page-body {
  padding: 0;
  min-height: 100%;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;

  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  align-content: start;
}

.page-body > p {
  text-align: center;
}

a {
  text-decoration: none;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.new {
  position: relative;
}

.new::after {
  content: '';
  width: 70px;
  height: 70px;
  background-image: url(../img/new.png);
  position: absolute;
  top: 0;
  right: 0;
  /* width: 70px;
  height: 70px; */
  /* background-repeat: no-repeat;
  background-position: 100% 0; */
}

.index-catalog,
.manufacturers {
  margin-bottom: 70px;
}

.container-tb {
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 14px;
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-goods);
}

.container-tb .title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-tb .button {
  margin-top: auto;
  margin-bottom: auto;
}

.title {
  font-size: 30px;
  line-height: 30px;
}

.button {
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-main);
  background-color: var(--text-in-header);
}

.button-width {
  min-width: 192px;
  display: inline-block;
  text-align: center;
}

.catalog-list {
  margin: 0;
  padding-left: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.catalog-item {
  padding: 6px;
  border: 1px solid var(--border-cards);
  box-sizing: border-box;
  position: relative;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px var(--border-cards-hover);
}

.catalog-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.catalog-title {
  margin-top: 0;
  margin-bottom: 6.86px;
  font-size: inherit;
  line-height: 20px;
  text-align: center;
  color: var(--color-frequently-used);
}

.catalog-pic {
  order: -1;
  display: flex;
  align-items: center;
  height: 170px;
  background-color: var(--border-fieldset);
  margin-bottom: 8px;
}

.catalog-pic img {
  width: 100%;
  height: auto;
}

.catalog-old-price,
.catalog-new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin-top: 0;
}

.catalog-old-price {
  color: var(--text-cards);
  text-decoration-line: line-through;
  margin-bottom: 13.14px;
}

.catalog-new-price {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 38px;
  color: var(--text-main);
  background: url(../img/new-price.svg) no-repeat;
  margin-bottom: 21px;
}

.catalog-box {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
  width: 95%;
  height: 170px;
  background-color: var(--text-main);
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.catalog-item:hover .catalog-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-box button {
  border-radius: 2px;
  margin-bottom: 10px;
}

.catalog-button-buy,
.catalog-button-bookmarks {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-button-buy {
  padding: 10px 40px 10px 53px;
  color: var(--text-main);
  background: var(--checkout-buy);
  box-shadow: inset 0px -3px 0px var(--peace-buy);
  border: none;
  position: relative;
  z-index: 10;
}

.catalog-button-buy:hover {
  background-color: var(--guidance-checkout-buy);
}

.catalog-button-buy:active {
  background-color: var(--cry-buy);
}

.catalog-button-bookmarks {
  padding: 11px 34px 9px 33px;
  color: var(--text-heading);
  background-color: var(--text-main);
  border: 3px solid var(--checkout-buy);
}

.catalog-button-bookmarks:hover {
  border: 3px solid var(--text-heading);
}

.catalog-button-bookmarks:active {
  color: var(--bookmarks);
  border: 3px solid var(--bookmarks);
}

/* main-header */

.main-header {
  background-color: var(--menu-footer-upper);
  padding-bottom: 60px;
}

.main-header__upper {
  background-color: var(--header-upper);
}

.upper-mh__box {
  display: flex;
}

.upper-mh__link-logo {
  height: 42px;
}

.upper-mh__form {
  flex-grow: 1;
  display: flex;
  height: 42px;
  position: relative;
}

/* .upper-mh__input-block {
  display: flex;
} */

.upper-mh__input {
  flex-grow: 1;
  height: 42px;
  padding-left: 42px;
  border: none;
  color: var(--text-main);
  background-color: var(--header-upper);
}

.upper-mh__shape-icon {
  /* opacity: 0.3; */
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 10;
}

.upper-mh__shape-icon path {
  fill: #4d4d4d;
}

/* .upper-mh__form:hover .upper-mh__shape-icon */
.upper-mh__form:hover .upper-mh__shape-icon path {
  /* opacity: 1; */
  fill: #fff;
}

.upper-mh__input:focus {
  background-color: var(--text-main);
}

.upper-mh__input:focus + .upper-mh__shape-icon path {
  fill: var(--text-in-header);
  /* opacity: 1; */
}

.upper-mh__input::placeholder {
  color: var(--text-main);
}

.upper-mh__input:focus {
  color: var(--color-frequently-used);
  outline: none;
}

.upper-mh__link,
.site-navigation-mh__link {
  color: var(--text-main);
}

.upper-mh__link {
  /* display: flex;
  width: 150px;
  height: 42px;
  justify-content: center;
  align-items: center; */
  display: block;
  white-space: nowrap;
  padding: 9px 24px 9px 43px;
  position: relative;
}

.upper-mh__link-icon::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  opacity: 0.3;
}

.upper-mh__link-icon-1::before {
  background-image: url(../img/header/icon-bookmark.svg);
  top: 13px;
  left: 20px;
}

.upper-mh__link-icon-1:hover::before {
  opacity: 1;
}

.upper-mh__link-icon-1:active {
  background-color: var(--cry-header-upper);
}

.upper-mh__link-icon-1:active::before {
  opacity: 0.3;
}

.upper-mh__link-icon-2::before {
  background-image: url(../img/header/icon-cart.svg);
  top: 13px;
  left: 20px;
}

.upper-mh__link-icon-2:hover::before {
  opacity: 1;
}

.upper-mh__link-icon-2:active {
  background-color: var(--cry-header-upper);
}

.upper-mh__link-icon-2:active::before {
  opacity: 0.3;
}

/* Для закладки и корзины, ели туда что-то добавленно */
.upper-mh__not-null {
  background-color: var(--text-in-header);
}

.upper-mh__link-order {
  padding-left: 19px;
  padding-right: 16px;
  background-color: var(--checkout-buy);
}

.upper-mh__link-order:hover {
  background-color: var(--cry-buy);
}

.upper-mh__link-order:active {
  color: var(--text-active);
  background-color: var(--checkout-buy);
}

.lower-mh__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 41px;
  padding-bottom: 40px;
}
/*
.lower-mh__box-section {
  padding-top: 4px;
}
 */

.lower-mh__box-section-1 {
  margin-top: 12px;
}

.lower-mh__box-section-2 {
  margin-top: 4px;
}

.lower-mh__text,
.lower-mh__text-tel {
  color: var(--text-in-header);
}

.lower-mh__text {
  margin-top: 0;
  margin-left: 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.lower-mh__text-tel {
  /* margin-top: 4px; */
  border: 3px solid var(--text-main);
  padding: 7px 50px 8px 74px;
  /* box-sizing: border-box; */
  width: 270px;
  height: 45px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background: var(--text-footer) url(../img/icon-phone.svg) no-repeat 15% 50%;
}

.lower-mh__text-address {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text-heading);
}

.box-section-2__box {
  display: flex;
  flex-wrap: wrap;
}

.lower-mh__none {
  display: none;
}

.box-section-2__box-1 {
  justify-content: flex-end;
}

.lower-mh__authorization,
.lower-mh__authorization-item {
  color: var(--color-frequently-used);
}

.lower-mh__authorization {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--text-main);
}

.lower-mh__authorization:hover {
  color: var(--text-in-header);
}

.lower-mh__authorization:active {
  color: var(--border-form);
}

.lower-mh__to-come-in,
.lower-mh__authorized {
  position: relative;
}

.lower-mh__to-come-in {
  padding-left: 45px;
}

.lower-mh__authorized {
  margin-bottom: 7px;
  margin-left: 0;
  padding-left: 56px;
  padding-right: 56px;
  width: 100%;
}

.to-come-in__img,
.authorized__img-user,
.authorized__img-exit {
  position: absolute;
}

.to-come-in__img {
  left: 19px;
}

.authorized__img-user {
  left: 15px;
}

.authorized__img-exit {
  right: 17px;
}

.lower-mh__to-come-in:hover .to-come-in__img path,
.lower-mh__authorized:hover .authorized__img-user path,
.lower-mh__authorized:hover .authorized__img-exit path {
  fill: var(--guidance-login);
}

.lower-mh__to-come-in:active .to-come-in__img path,
.lower-mh__authorized:active .authorized__img-user path,
.lower-mh__authorized:active .authorized__img-exit path {
  fill: var(--border-form);
}

.lower-mh__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 50px;
}

.lower-mh__item {
  list-style: none;
}

.lower-mh__authorization-item {
  margin-right: 30px;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-heading);
}

.lower-mh__authorization-item:hover {
  color: var(--text-in-header);
}

.lower-mh__authorization-item:active {
  color: var(--border-form);
}

.main-header__site-navigation {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 24px;
  list-style: none;
  background-color: var(--text-heading);
  color: var(--text-main);
  box-shadow: inset 0px -5px 0px var(--header-upper);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
/*
.site-navigation-mh__item {
  margin-right: 12.5px;
}
 */
.site-navigation-mh__link,
.site-navigation-mh__link_active {
  display: block;
  padding: 16px 25.5px 20px;
}

.site-navigation-mh__link:hover {
  background-color: var(--header-upper);
}

.site-navigation-mh__link:active {
  background-color: var(--header-upper);
  opacity: 0.5;
}

/* page-index */

/* promo-block */

.promo-block {
  margin-top: 59px;
  margin-bottom: 59px;
}

.promo-block__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-areas:
    "materials tool technics"
    "slider slider discounts"
    "slider slider delivery";
  gap: 20px;
}

.promo-block__item {
  padding-left: 22px;
  min-width: 278px;
  min-height: 123px;
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.promo-block__item-1 {
  grid-area: materials;
  background-color: var(--promo-block-materials-delivery);
  background-image: url(../img/background_img/a-tin-of-paint.png);
}

.promo-block__item-2 {
  grid-area: tool;
  background-color: var(--promo-block-tool);
  background-image: url(../img/background_img/screwdriver.png);
}

.promo-block__item-3 {
  grid-area: technics;
  background-color: var(--promo-block-technics);
  background-image: url(../img/background_img/tractor.png);
}

.promo-block__item-4 {
  grid-area: discounts;
  background-color: var(--promo-block-discount);
  background-image: url(../img/background_img/cart.png);
}

.promo-block__item-5 {
  grid-area: delivery;
  background-color: var(--promo-block-materials-delivery);
  background-image: url(../img/background_img/van.png);
}

.promo-block__item-6 {
  grid-area: slider;
  width: 620px;
  height: 266px;
}

.promo-block__title {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-main);
}
/*
.promo-block__link,
.slider-pb__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-main);
} */

.promo-block_link-bc {
  padding-left: 0;
  padding-right: 0;
  min-width: 135px;
  display: inline-block;
  text-align: center;
  background-color: var(--promo-block);
}

.promo-block_link-bc:hover {
  background-color: var(--promo-block-hover);
}

.promo-block_link-bc:active {
  background-color: var(--promo-block-active);
}

/*
.slider-pb__link {
  background-color: var(--text-in-header)
}
 */

/* .promo-block__item {

} */

/* index-catalog */

.index-catalog__list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* manufacturers */

.manufacturers__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.manufacturers__item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--border-cards);
  box-sizing: border-box;
}

.manufacturers__item:hover {
  box-shadow: 0px 4px 20px var(--border-cards-hover);
}

.manufacturers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.manufacturers__item:active img {
  opacity: 0.3;
}

/* services */

.services {
  padding: 64px 0 99px;
  background: var(--menu-footer-upper);
}

.services__title {
  margin-top: 0;
}

.services__text {
  font-size: 13px;
}

.services-vremeno__title {
  color: var(--text-heading);
}

/* contacts */

.contacts {
  padding: 70px 0 70px;
  position: relative;
}

.contacts__box {
  display: grid;
  grid-template-columns: 1fr 300px;
  /* gap: 20px; */
}

.contacts__box1,
.contacts__box2 {
  display: flex;
  flex-direction: column;
}

.contacts__box1 {
  align-items: start;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 24px;
}

.contacts__text {
  margin-top: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
}

.box1-contacts__text-1 {
  margin-bottom: 30px;
}

.box1-contacts__text-2 {
  margin-bottom: 0;
}

.box2-contacts__text {
  margin-bottom: 32px;
}

.contacts__list {
  margin-top: 1px;
  list-style: none;
}

.contacts__item {
  position: relative;
  margin-bottom: 12px;
}

.contacts__item::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--text-in-header);
  position: absolute;
  top: 40%;
  left: -37px;
}

.box1-contacts__link {
  margin-top: auto;
  padding-right: 40.29px;
  padding-left: 39.41px;
}

.contacts__button {
  margin-top: auto;
  border: 0;
  cursor: pointer;
}

/* page catalog */

.page-catalog {
  font-family: 'PT sans', 'Arial', sans-serif;
}

.page-catalog__grid {
  margin-bottom: 59px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "page-catalog-title page-catalog-title"
    "filter sorting"
    "filter cards";
  gap: 20px;
}

.page-catalog__filter,
.page-catalog__sorting {
  text-transform: uppercase;
}

.page-catalog__filter ul,
.page-catalog__sorting ul {
  list-style: none;
}

.subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.page-catalog__title {
  margin: 0;
  grid-area: page-catalog-title;
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: var(--menu-footer-upper);
}

.page-catalog__main-title {
  padding: 30px;
}

/* page-catalog__breadcrumbs */

.page-catalog__breadcrumbs {
  grid-area: breadcrumbs;
  display: flex;
  margin-top: 21px;
  margin-bottom: 0;
  padding-left: 14px;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  background: url(../img/icon-home.png) no-repeat 0 50%;
}

.breadcrumbs-pc__item {
  margin-left: 17.86px;
  padding-left: 15.61px;
  background: url(../img/icon-right-small.png) no-repeat 0 50%;
}

.breadcrumbs-pc__link {
  color: var(--color-frequently-used);
}

/* page-catalog__filter */

.page-catalog__filter {
  grid-area: filter;
}

.filter-pc__fieldset {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-bottom: 26px;
  border: none;
  border-bottom: 1px solid var(--border-fieldset);
}

.filter-pc__fieldset:last-of-type {
  margin-bottom: 8px;
  border: none;
}

.filter-pc__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 17px;
}

.filter-pc__range {
  width: 220px;
  margin-top: 10.85px;
}

.range-filter__range-controls {
  padding: 39px 20px 0;
  height: 41px;
  margin-bottom: 9px;
  background: url(../img/bitmap.png) no-repeat;
  border-radius: 5px;
  position: relative;
}

.range-filter__scale {
  height: 2px;
  background-color: var(--border-form);
}

.range-filter__bar {
  width: 85%;
  height: 2px;
  background-color: var(--checkout-buy);
}

.range-filter__toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  background-color: var(--toggle);
  border: 8px solid var(--text-main);
  border-radius: 50%;
}

.range-filter__toggle-min {
  left: 11px;
}

.range-filter__toggle-max {
  right: 35px;
}

.range-filter__price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-filter__price-controls input {
  padding: 10px 0;
  width: 95px;
  text-align: center;
  border: none;
  background-color: var(--filter-sorting);
}

.range-filter__separator {
  width: 10px;
  height: 1px;
  background-color: var(--separator);
}

.filter-pc__list,
.filter-pc__item:last-child {
  margin-bottom: 0;
}

.filter-pc__list {
  margin-top: 0;
  padding-left: 0;
}

.filter-pc__item {
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;
}

.filter-pc__item-radio {
  margin-bottom: 22.5px;
}

.filter-pc__label {
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.filter-pc__label::before {
  content: '';
  width: 22px;
  height: 22px;
  border: 2px solid var(--border-form);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.filter-pc__label:hover::before {
  border: 2px solid var(--guidance-blocked-checkbox);
}

.filter-pc__label:disabled::before {
  opacity: 0.3;
  border: 2px solid var(--guidance-blocked-checkbox);
}

.filter-pc__input:checked + .filter-pc__label::after {
  content: '';
  width: 22px;
  height: 19px;
  background: url(../img/shape.svg) no-repeat;
  position: absolute;
  top: 3px;
  left: 6px;
}

.filter-pc__input:hover:checked + .filter-pc__label::after {
  background: url(../img/shape-hover.svg) no-repeat;
}

.filter-pc__input:disabled:checked + .filter-pc__label::before,
.filter-pc__input:disabled:checked + .filter-pc__label::after {
  opacity: 0.3;
}

.filter-pc__label-radio::before {
  border: 3px solid var(--border-form);
  border-radius: 50%;
}

.filter-pc__label-radio:hover:before {
  border: 3px solid var(--guidance-blocked-checkbox);
}

.filter-pc__input:checked + .filter-pc__label-radio::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--border-form);
  position: absolute;
  top: 9px;
  left: 10px;
}

.filter-pc__input:hover:checked + .filter-pc__label-radio::after {
  background-color: var(--guidance-blocked-checkbox);
}

.filter-pc__input:disabled + .filter-pc__label-radio::before,
.filter-pc__input:disabled:checked + .filter-pc__label-radio::after {
  opacity: 0.3;
}

.filter-pc__button {
  border: 1px solid var(--border-card-pages);
  padding: 10px 0;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--text-main);
}

/* page-catalog__sorting */

.page-catalog__sorting {
  grid-area: sorting;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorting-pc__title {
  margin-bottom: 8px;
}

.sorting-pc__list {
  margin: 0;
  display: flex;
}

.sorting-pc__item:first-child {
  margin-right: 70px;
}

.sorting-pc__item:nth-child(2) {
  margin-right: 65px;
}

.sorting-pc__item:nth-child(3) {
  margin-right: 46px;
}

.sorting-pc__item:nth-child(4) {
  margin-right: 21px;
}

.sorting-pc__item:last-child {
  margin-right: 17px;
}

.sorting-pc__link {
  color: var(--color-frequently-used);
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px dotted var(--text-in-header);
}

.sorting-pc__link:hover {
  opacity: 1;
  border-bottom: 1px solid var(--text-in-header);
}

.sorting-pc__link:active {
  color: var(--text-in-header);
  opacity: 1;
  border-bottom: none;
}

.sorting-pc__img:hover path {
  fill: var(--color-frequently-used);
}

.sorting-pc__img:active path {
  fill: var(--text-in-header);
}

/* page-catalog__list */

.page-catalog__list {
  margin-bottom: 48px;
}

/* pagination */

.pagination-list {
  margin-bottom: 11px;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  padding: 10px 15px;
  color: var(--color-frequently-used);
  border: 1px solid var(--border-card-pages);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination-item:last-child .pagination-link {
  padding-left: 33px;
  padding-right: 33px;
}

.pagination-link:hover {
  border: 1px solid var(--border-form);
}

.pagination-link:active {
  border: 1px solid var(--text-in-header);
}

.pagination-link-active {
  color: var(--text-main);
  border: 1px solid var(--text-in-header);
  background-color: var(--text-in-header);
}

.pagination-link-active:hover {
  border: 1px solid var(--text-in-header);
}

/* page-catalog__about-perforators */

.page-catalog__about-perforators {
  background-color: var(--menu-footer-upper);
  padding: 64px 0 68px;
}

.about-perforators-pc__title {
  margin: 0 0 25px;
}

.about-perforators-pc__text {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
}

/* page block */

.page-block-title {
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}

/* footer */

.page-footer {
  color: var(--text-main);
  background-color: var(--text-heading);
}

.page-footer ul {
  padding-left: 0;
  list-style: none;
}

.page-footer__container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.page-footer__img {
  display: block;
  margin-bottom: 22px;
}

.page-footer__text {
  margin-bottom: 54px;
  min-width: 333px;
}

.page-footer__list {
  margin-top: 37px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.page-footer__item {
  margin-left: 58px;
  margin-bottom: 34px;
}

.page-footer__link {
  color: inherit;
}

.page-footer__link:hover {
  border-bottom: 1px solid var(--text-main);
}

.page-footer_color {
  color: var(--menu-footer-lower);
}

.page-footer_color:hover {
  border-bottom: 1px solid var(--menu-footer-lower);
}

.page-footer__link:active,
.page-footer_color:active {
  opacity: 0.5;
  border-bottom: none;
}

.page-footer__box {
  background-color: var(--header-upper);
}

.box-pf__box {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 18px;

  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 20px;
}

.box-pf__box > * {
  margin-top: 0;
  margin-bottom: 0;
}

.box-pf__list {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  /* width: 134px; */
}

.box-pf__item {
  margin-right: 1px;
}

.box-pf__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.box-pf__link:hover .box-pf__path,
.box-pf__link:active .box-pf__path {
  fill: var(--text-in-header);
}

.box-pf__link-active:active {
  color: var(--text-in-header);
  opacity: 1;
}

/* reverse-connection and map */

.reverse-connection,
.map {
  border-top: 7px solid var(--text-in-header);
}

.popup-button {
  width: 21px;
  height: 21px;
  border: none;
  background-color: inherit;
  background-image: url(../img/icon-close.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 14px;
  right: 11px;
}

/* reverse-connection */

.reverse-connection {
  padding-top: 39px;
  width: 620px;
  position: relative;
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--text-main);
}

.form-rc__box,
.form-rc__text-box {
  margin: 0 auto;
  width: 460px;
}

.form-rc__box {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.form-rc__text {
  margin-top: 0;
  margin-bottom: 0;
}

.form-rc__label {
  margin-bottom: 18px;
  display: block;
}

.form-rc__input,
.form-rc__text-mail {
  border: 2px solid var(--border-form);
}

.form-rc__input {
  width: 220px;
  height: 38px;
  box-sizing: border-box;
}

.form-rc__text-box {
  margin-bottom: 34px;
}

.form-rc__text-mail {
  width: 100%;
  max-height: 114px;
  resize: none;
  box-sizing: border-box;
}

.form-rc__button-box {
  padding: 37px 80px;
  background-color: var(--box-button);
}

.form-rc__button {
  padding-left: 198.21px;
  padding-right: 199.79px;
  display: block;
  border: none;
}

/* map */

.map {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
}

/* added-to-cart */

.added-to-cart {
  border-top: 7px solid var(--text-in-header);
}

.added-to-cart__title {
  font-size: 24px;
  line-height: 30px;
}

.added-to-cart__title::before {
  content: url(../img/icon-mark.svg);
}

.added-to-cart__box {
  background-color: var(--added-to-cart);
}

.added-to-cart__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--text-main);
}
