/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  /* text colors */
  --text-main: #fff;
  --text-in-header: #ee3643;
  --text-heading: #32425c;
  --color-frequently-used: #000;
  --text-cards: #a9a9a9;
  --text-footer: #f3f7f9;
  --menu-footer-upper: #f1f5f7;
  --menu-footer-lower: #ffd180;

  /* background color */
  --header-upper: #293449;
  --checkout-buy: #63a63e;
  --promo-block-materials-delivery: #ffbf47;
  --promo-block-tool: #3bbce3;
  --promo-block-technics: #dc91d8;
  --promo-block-discount: #8ed78f;
  --header-goods: #f9f5f0;
  --filter-sorting: #f7f3ec;
  --added-to-cart: #f1f1f1;

  /* background color on action */
  --cry-logo-open-catalog: #ba2732;
  --cry-header-upper: #161d29;
  --guidance-checkout-buy: #5fbb2d;
  --cry-buy: #518534;
  --guidance-login: #3d546f;
  --cry-header-menu: #1d2739;
  --guidance-open-catalog: #ca2c37;
  --guidance-blocked-checkbox: #b5b5b5;

  /* shadow colors */
  --peace-buy: #367315;
  --slider-ervices: #405069;


  /* border colors */
  --border-form: #c5c5c5;
  --border-cards: #eaeaea;
  --border-card-pages: #e5e5e5;

  /* gradient colors */
  --social-network: #212a3a;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
}

.page-body {
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.new {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.index-catalog,
.manufacturers {
  margin-bottom: 70px;
}

.container-tb {
  margin-bottom: 20px;
  min-height: 89px;
  display: flex;
  justify-content: space-between;
  background-color: var(--header-goods);
}

.title {
  font-size: 30px;
  line-height: 30px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-main);
  background-color: var(--text-in-header);
}

.catalog-list {
  margin: 0;
  padding-left: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.catalog-item {
  border: 1px solid var(--border-cards);
}

.catalog-pic {
  background-color: rgba(0, 0, 0, 0.0001);
  margin-top: 6px;
  margin-bottom: 8px;
}

.catalog-button-buy,
.catalog-button-bookmarks {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-button-buy {
  color: var(--text-main);
  background: var(--checkout-buy);
  box-shadow: inset 0px -3px 0px var(--peace-buy);
  border-radius: 2px;
}

.catalog-button-bookmarks {
  background: var(--text-main);
  border: 3px solid #63A63E;
  /* box-sizing: border-box; */
  border-radius: 2px;
}

.catalog-title {
  line-height: 20px;
  color: var(--color-frequently-used);
  margin-top: 0;
  margin-bottom: 6.86px;
}

.catalog-old-price,
.catalog-new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin-top: 0;
}

.catalog-old-price {
  color: var(--text-cards);
  text-decoration-line: line-through;
  margin-bottom: 13.14px;
}

.catalog-new-price {
  width: 141px;
  height: 38px;
  color: var(--text-main);
  background: url(../img/new-price.svg) no-repeat;
  margin-bottom: 21px;
}

/* main-header */

.main-header {
  background-color: var(--menu-footer-upper);
  padding-bottom: 60px;
}

.main-header__upper {
  background-color: var(--header-upper);
}

.upper-mh__box {
  display: flex;
}

.upper-mh__link-logo {
  height: 42px;
}

.upper-mh__form {
  height: 42px;
}

.upper-mh__input {
  width: 271px;
  height: 42px;
  padding-left: 42px;
  border: none;
  background-color: var(--header-upper);
  /* background: var(--header-upper) url(../img/shape.svg) no-repeat 17px 50%; */
  /* filter: url(../img/shape.svg); */
  /* mask-image: url('../img/shape.svg'); */
}

.upper-mh__input:focus {
  background-color: var(--text-main);
}

.upper-mh__input::before {
  content: "";
  width: 20px;
  background-image: url(../img/shape.svg);
}

.upper-mh__input::placeholder {
  color: var(--text-main);
}

.upper-mh__input:focus {
  outline: none;
}

.upper-mh__link,
.site-navigation-mh__link {
  color: var(--text-main);
}

.upper-mh__link {
  display: flex;
  width: 150px;
  height: 42px;
  justify-content: center;
  align-items: center;
}

.upper-mh__link_colors {
  background-color: var(--checkout-buy);
}

.lower-mh__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 41px;
  padding-bottom: 40px;
}

.lower-mh__text,
.lower-mh__text-tel {
  color: var(--text-in-header);
}

.lower-mh__text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.lower-mh__text-tel {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--text-main);
  background-color: var(--text-footer);
}

.lower-mh__text-address {
  font-size: 14px;
  color: var(--text-heading);
}

.lower-mh__authorization,
.lower-mh__authorization-item {
  color: var(--color-frequently-used);
}

.lower-mh__authorization {
  font-size: 21px;
  line-height: 21px;
}

.lower-mh__authorization-item {
  font-size: 16px;
  line-height: 18px;
}

.lower-mh__item {
  list-style: none;
}

.main-header__site-navigation {
  display: flex;

  list-style: none;
  padding-left: 0;
  background-color: var(--text-heading);
  color: var(--text-main);
}

.site-navigation-mh__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 60px;
}

/* promo-block */


.promo-block {
  margin-top: 59px;
  margin-bottom: 59px;
}

.promo-block__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-areas:
    "materials tool technics"
    "slider slider discounts"
    "slider slider delivery";
  gap: 20px;
}

.promo-block__item-1 {
  grid-area: materials;
  background-color: var(--promo-block-materials-delivery);
}

.promo-block__item-2 {
  grid-area: tool;
  background-color: var(--promo-block-tool);
}

.promo-block__item-3 {
  grid-area: technics;
  background-color: var(--promo-block-technics);
}

.promo-block__item-4 {
  grid-area: discounts;
  background-color: var(--promo-block-discount);
}

.promo-block__item-5 {
  grid-area: delivery;
  background-color: var(--promo-block-materials-delivery);
}

.promo-block__item-6 {
  grid-area: slider;
}

.promo-block__title {
  font-size: 24px;
  line-height: 30px;
  color: var(--text-main);
}
/*
.promo-block__link,
.slider-pb__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-main);
} */

.promo-block_link-bc {
  background-color: rgba(255, 255, 255, 0.3);
}
/*
.slider-pb__link {
  background-color: var(--text-in-header)
}
 */

/* .promo-block__item {

} */

/* index-catalog */

.index-catalog__list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* manufacturers */

.manufacturers__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.manufacturers__item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--border-cards);
  box-sizing: border-box;
}

.manufacturers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* services */

.services {
  padding: 64px 0 99px;
  background: var(--menu-footer-upper);
}

.services__title {
  margin-top: 0;
}

.services__text {
  font-size: 13px;
}

.services-vremeno__title {
  color: var(--text-heading);
}

/* contacts */

.contacts {
  padding: 70px 0 70px;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
}

.contacts__box1 {
  width: 460px;
}

.contacts__box2 {
  width: 300px;
}

.contacts-title {
  margin-top: 0;
}

.contacts__text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
}

.contacts__list {
  list-style: none;
}

.contacts__item {
  position: relative;
  margin-bottom: 12px;
}

.contacts__item::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--text-in-header);
  position: absolute;
  top: 40%;
  left: -37px;
}

.contacts__button {
  border: 0;
}

/* footer */

.page-footer {
  color: var(--text-main);
  background-color: var(--text-heading);
}

.page-footer ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.page-footer-flex {
  display: flex;
  justify-content: space-between;
}

.page-footer__img {
  display: block;
  margin-bottom: 22px;
}

.page-footer__list {
  display: flex;
}

.page-footer__link {
  color: inherit;
}

.page-footer_color {
  color: var(--menu-footer-lower);
}

.page-footer__box {
  background-color: var(--header-upper);
}

.box-pf__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  line-height: 18px;
  padding-top: 35px;
}

.box-pf__list {
  width: 134px;
  justify-self: end;
}

.box-pf__text {
  justify-self: end;
}

/* reverse-connection and map */

.reverse-connection,
.map {
  border-top: 7px solid var(--text-in-header);
}

/* reverse-connection */

.form-rc__box {
  display: flex;
}

.form-rc__input,
.form-rc__text-mail {
  border: 2px solid var(--border-form);
}

.form-rc__input {
  width: 220px;
  height: 38px;
}

.form-rc__text-mail {
  width: 100%;
  max-height: 114px;
  resize: none;
}

.form-rc__button {
  border: none;
}

/* page catalog */

.catalog-grid {
  display: grid;
  grid-template-areas:
    "breadcrumbs breadcrumbs"
    "page-catalog-title page-catalog-title"
    "filter sorting"
    "filter cards";
}

.page-main-catalog {
  font-family: 'PT sans', 'Arial', sans-serif;
}

.page-catalog-title {
  grid-area: page-catalog-title;
  font-family: 'Cuprum', 'Arial', sans-serif;
}

.filter,
.sorting {
  text-transform: uppercase;
}

.filter ul,
.sorting ul {
  list-style: none;
}

.subtitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

/* breadcrumbs */

.breadcrumbs {
  grid-area: breadcrumbs;
  display: flex;
  margin-top: 21px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.breadcrumbs a {
  color: var(--color-frequently-used);
}

/* filter */

.filter {
  grid-area: filter;
  padding-right: 20px;
}

.filter__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter__price {
  background-color: var(--filter-sorting);
}

.filter__price-input {
  border: none;
}

.filter__item {
  margin-bottom: 20px;
}

.filter__item-radio {
  margin-bottom: 22.5px;
}

.filter__label {
  font-size: 15px;
  line-height: 19px;
}

/* sorting */

.sorting {
  grid-area: sorting;
}

.sorting__link {
  color: var(--color-frequently-used);
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px dotted var(--text-in-header);
}

.sorting__link-active {
  color: var(--text-in-header);
  opacity: 1;
  border-bottom: none;
}

/* about-perforators */

.about-perforators {
  background-color: var(--menu-footer-upper);
  padding: 64px 0 68px;
}

.about-perforators__title {
  margin: 0 0 25px;
}

.about-perforators__text {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
}

/* added-to-cart */

.added-to-cart {
  border-top: 7px solid var(--text-in-header);
}

.added-to-cart__title {
  font-size: 24px;
  line-height: 30px;
}

.added-to-cart__title::before {
  content: url(../img/icon-mark.svg);
}

.added-to-cart__box {
  background-color: var(--added-to-cart);
}

.added-to-cart__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--text-main);
}
