/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Variables */

:root {
  /* text colors */
  --text-main: #fff;
  --text-in-header: #ee3643;
  --text-heading: #32425c;
  --color-frequently-used: #000;
  --text-cards: #a9a9a9;
  --text-footer: #f3f7f9;
  --menu-footer-upper: #f1f5f7;
  --menu-footer-lower: #ffd180;

  /* background color */
  --header-upper: #293449;
  --checkout-buy: #63a63e;
  --promo-block-materials-delivery: #ffbf47;
  --promo-block-tool: #3bbce3;
  --promo-block-technics: #dc91d8;
  --promo-block-discount: #8ed78f;
  --header-goods: #f9f5f0;
  --filter-sorting: #f7f3ec;

  /* background color on action */
  --cry-logo-open-catalog: #ba2732;
  --cry-header-upper: #161d29;
  --guidance-checkout-buy: #5fbb2d;
  --cry-buy: #518534;
  --guidance-login: #3d546f;
  --cry-header-menu: #1d2739;
  --guidance-open-catalog: #ca2c37;
  --guidance-blocked-checkbox: #b5b5b5;

  /* shadow colors */
  --peace-buy: #367315;
  --slider-ervices: #405069;


  /* border colors */
  --border-form: #c5c5c5;
  --border-cards: #eaeaea;
  --border-card-pages: #e5e5e5;

  /* gradient colors */
  --social-network: #212a3a;
}

.page-body {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  width: 1200px;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 
.title {

}

.button {

}

.catolog__list {

}

.catolog__item {

}

.catolog-text {

}
*/

/* main-header */

.main-header {
  background-color: var(--menu-footer-upper);
}

.main-header__upper {
  display: flex;  
  height: 42px;
  padding: 0 130px;
  background-color: var(--header-upper);
}

.upper-mh__input {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 271px;
  height: 100%;
  padding-left: 42px;
  border: none;
  background-color: var(--header-upper);
  /* background: var(--header-upper) url(../img/shape.svg) no-repeat 17px 50%; */
  /* filter: url(../img/shape.svg); */
  /* mask-image: url('../img/shape.svg'); */
}

.upper-mh__input::before {
  content: "";
  width: 20px;
  background-image: url(../img/shape.svg);
}

.upper-mh__input::placeholder {
  color: var(--text-main);
}

.upper-mh__input:focus {
  outline: none;
}

.upper-mh__link {
  display: block;
  padding: 9px 16px;
  /* width: 150px; */
}

/*
.bookmarks-basket {
  
}

.authorization {

}

.site-navigation {

}
*/


/* promo-block */

/* .promo-block__item {

} */

/* manufacturers */

/* .manufacturers__list {

}

.manufacturers__item {

} */

/* page catolog */

/* .filter__text {

} */